.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.page__content {
  padding: 50px 0 60px;
}
.list-item__label {
  min-width: 70px;
}
.page__content .card__title {
  margin-top: 0;
}
.page__title {
  text-align: center;
}
.card-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.35rem;
  margin-bottom: 0.7rem;
}
.card-description-label {
  background-color: #aaa;
  color: white;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
}
.tabbar {
  position: fixed;
  z-index: 10;
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.tabbar__button {
  display: block;
  text-align: center;
  align-items: flex-start;
}
a {
  text-decoration: none;
}
.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}

.button__large {
  display: inline-block;
  margin: 15px;
  width: 90%;
}

.container__center {
  width: 100%;
  text-align: center;
}
