.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.page__content {
  padding: 50px 0 60px;
}
.list-item__label {
  min-width: 70px;
}
.page__content .card__title {
  margin-top: 0;
}
.page__title {
  text-align: center;
}
.card-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.35rem;
  margin-bottom: 0.7rem;
}
.card-description-label {
  background-color: #aaa;
  color: white;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
}
.tabbar {
  position: fixed;
  z-index: 10;
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.tabbar__button {
  display: block;
  text-align: center;
  align-items: flex-start;
}
a {
  text-decoration: none;
}
.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}
.australia {
  transform: rotate(180deg);
}
.comicScript {
  font-family: "Comic Sans MS", "Comic Sans", "Chalkduster", cursive !important;
}
.reverse {
  transform: scaleX(-1);
}
.transparent {
  opacity: 0.2;
}
.tabbar__button__pressed {
  display: block;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  padding: 0;
  height: 49px;
  letter-spacing: 0;
  vertical-align: top;
  background-color: transparent;
  width: 100%;
  font-weight: 400;
  line-height: 49px;
  color: rgb(0, 122, 255);
}

.button__large {
  display: inline-block;
  margin: 15px;
  width: 90%;
}

.container__center {
  width: 100%;
  text-align: center;
}

.gdpr li {
  padding-top: 7px;
  padding-bottom: 7px;
}